MONGO_ROOT_USER=root
MONGO_ROOT_PASSWORD=secret
MONGO_URI=mongodb://root:secret@db:27017/modintel?authSource=admin

WAF_PORT=8080
COLLECTOR_PORT=8081
DASHBOARD_PORT=3000
INFERENCE_PORT=5000

LOG_FILE_PATH=/var/log/coraza/audit.json
BACKEND_URL=juice-shop:3000
