{
	order coraza_waf first
}

:8080 {
	header {
		X-Content-Type-Options nosniff
		X-Frame-Options DENY
		Referrer-Policy no-referrer
		Permissions-Policy geolocation=(), microphone=(), camera=()
	}

	coraza_waf {
		include /opt/coraza/config/coraza.conf
		include /opt/coraza/config.d/user.conf
		include /opt/coraza/config/crs-setup.conf
		include /opt/coraza/owasp-crs/rules/*.conf
		include /opt/coraza/config.d/custom.conf
		include /opt/coraza/rules/*.conf
		include /opt/coraza/rules.d/*.conf
		include /opt/coraza/overrides/*.conf
	}

	reverse_proxy juice-shop:3000 {
		trusted_proxies private_ranges
	}
}

:3000 {
	root * /srv/dashboard
	encode zstd gzip

	header {
		X-Content-Type-Options nosniff
		X-Frame-Options DENY
		Referrer-Policy strict-origin-when-cross-origin
		Permissions-Policy geolocation=(), microphone=(), camera=()
		Content-Security-Policy "default-src 'self'; img-src 'self' data:; script-src 'self' 'unsafe-inline'; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com; font-src 'self' https://fonts.gstatic.com; connect-src 'self'; frame-ancestors 'none'; base-uri 'self'"
	}

	handle /api/* {
		reverse_proxy review-api:8082
	}

	handle_path /inference/* {
		reverse_proxy inference-engine:8083
	}

	file_server
}
