{
	order coraza_waf first
}

:8080 {
	coraza_waf {
		include /opt/coraza/config/coraza.conf
		include /opt/coraza/config.d/*.conf
		include /opt/coraza/config/crs-setup.conf
		include /opt/coraza/owasp-crs/*.conf
		include /opt/coraza/rules/*.conf
		include /opt/coraza/rules.d/*.conf
		include /opt/coraza/overrides/*.conf
	}

	mirror http://inference-engine:8083

	reverse_proxy juice-shop:3000 {
		trusted_proxies private_ranges
	}
}
