:8080 {
	log {
		output file /var/log/caddy/access.json
		format json
	}

	reverse_proxy proxy-waf:8080 {
		trusted_proxies private_ranges
	}
}

:3000 {
	log {
		output file /var/log/caddy/access.json
		format json
	}

	reverse_proxy proxy-waf:3000 {
		trusted_proxies private_ranges
	}
}
